[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pillow = "*"
requests = "*"
pandas = "*"
scikit-learn = "*"
flask = "*"
gunicorn = "*"
xgboost = "*"

[dev-packages]

[requires]
python_version = "3.9"
